﻿html, body , #map 
{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

input[type="text"]
{
	width: 100%;
}

input[type="button"]
{
	width: 105px;
}

input[type="submit"]
{
	width: 105px;
}

textarea
{
	width: 100%;
}

#form-add-animal h5
{
	font-size: 1rem;
	font-weight: 600;
}

/* ==========КАРТА========== */
#map
{
	margin-left: 20%;
	width: 80%;
}

.btn-zoom
{
	width: 40px;
	height: 37px;
	padding: 4px 11px 4px 13px;
	margin-left: 1px;
	line-height: 21px;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbb;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);	
}

/* ==========ГЛАВНАЯ ПАНЕЛЬ========== */
div#main-panel
{
	float: left;
	width: 20%;
	padding-bottom: 10px;
	background: #fff; 
	overflow-y: scroll;
	height: 100%;
}

/* По сути это для div.container */ 
div#main-panel > div
{
	margin-top: 5px;
	padding-top: 10px;
}

div#search-addr-left-column
{
	float: left;
	width: 79%;
}

div#search-addr-right-column
{
	margin-left: 80%;
}

/* ==========ПАНЕЛЬ ФИЛЬТРОВ========== */
div.search-pet-left-column
{
	float: left;
	width: 130px;
}

div.search-pet-right-column
{
	margin-left: 130px;
}

div.additional-filter-left-column
{
	float: left;
	width: 75px;
}

div.additional-filter-right-column
{
	margin-left: 75px;
}